services:
  web:
    build:
      context: .
      dockerfile: dev.Dockerfile
    container_name: snakey_reception_dev
    ports:
      - 8000:8000
    volumes:
      - ./src:/app
    depends_on:
      db:
        condition: service_healthy
        restart: true
    env_file:
      - .env
  db:
    image: postgres:16
    container_name: snakey_reception_db
    volumes:
      - snakey_reception_db:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer:latest
    restart: always
    ports:
      - "8888:8080"
      
volumes:
  snakey_reception_db: